<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Public API Entries</title>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>

        // $(function () {
        //     console.log("Destroying datatable")
        //     const publicEntriesDt = $('#publicEntries').DataTable()
        //     publicEntriesDt.destroy()
        // })

    </script>
</head>
<body>
<h1>All public api entries available</h1>

<p>Content (only first 10):</p>
<table id="publicEntries" style="width: 100%">
    <thead>
    <tr>
        <td><strong>API</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Auth</strong></td>
        <td><strong>Https</strong></td>
        <td><strong>Cors</strong></td>
        <td><strong>Link</strong></td>
        <td><strong>Category</strong></td>
    </tr>
    </thead>
    <tfoot>
    <tr th:each="entry: ${bean.response.entries}">
        <td th:text="${entry.API}"/>
        <td th:text="${entry.description}"/>
        <td th:text="${entry.Auth}"/>
        <td th:text="${entry.HTTPS}"/>
        <td th:text="${entry.Cors}"/>
        <td th:text="${entry.Link}"/>
        <td th:text="${entry.Category}"/>
    </tr>
    </tfoot>
</table>

<script type="text/javascript">

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function loadDataTable() {
        console.log('Creating datatable')
        $('#publicEntries').DataTable({
            "autoWidth":false,
            "info":false,
            "JQueryUI":true,
            "ordering":true,
            "paging":true,
            "scrollY":"500px",
            "scrollCollapse":true
        });
    }

    async function demo() {
        console.log('Sleeping...');
        await sleep(15000);
        console.log('Awakening');
        loadDataTable()
    }

    $(document).ready(function () {
        console.log("init loading all")
        $('#publicEntries').DataTable().destroy();
        $('#publicEntries tbody').empty();

        demo();
    });

</script>
</body>
</html>